.aboutDescription {
    margin: 0 7px 0 7px;
    padding: 7px;
    font-size: 22px;
    color: white;
    border: 1px solid deepskyblue;
    font-family: 'Ubuntu', sans-serif;
    background: rgba(0, 0, 0, 0.5);
    text-align: left;
}

.contactMe {
    padding: 0 7px 7px 7px;
}

.contactMe div {
    border-radius: 15px;
}

.contactMeButton {
    text-align: right;
    padding-right: 7px;
}

.contactMeButton button {
    width: 25%;
    height: 60px;
    background-color: rgb(149, 180, 204);
}

.createQuizButton {
    text-align: right;
}

.createQuizButton button {
    width: 75%;
    height: 40px;
    font-size: 25px;
    background-color: rgb(149, 180, 204);
}


