@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.questions {
    margin-left: 25px;
    margin-right: 25px;
    column-count: 2;
    column-span: all;
    column-gap: 25px;
}

.questionFields {
    padding-top: 20px;
}

.score {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    color: red;
}

.scores {
    padding-top: 25px;
}

.searchPadding {
    padding: 10px;
    height: 100%;
}

.searchResult {
    height: 200px;
    background-color: rgba(0, 0, 0, 0.1);
    vertical-align: top;
    cursor: pointer;
    position: relative;
}

.searchResult img {
    padding: 7px;
    height: 93%;
    width: 20%;
}

.searchResult header {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 30px;
    vertical-align: top;
    display: inline-block;
    position: absolute;
}

.searchResult p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    margin-top: 3%;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
}