/* Booking box date & time */

.form-box .form-main .group {
	margin-bottom: 15px;
}

.form-box .form-main .group:last-child {
	margin-bottom: 0;
}

.form-box .form-main .group.half {
	float: left;
	width: 50%;
}

.form-box .form-main .group.half.left {
	padding-right: 10px;
}

.form-box .form-main .group.half.right {
	padding-left: 10px;
}

.form-box .form-main .group .form-error {
	margin: 15px 0px 15px 0;
}

.form-box .form-main .group input,
.form-box .form-main .group textarea,
.form-box .form-main .group .picker .pc-select .pc-trigger {
	display: block;
	width: 100%;
	padding: 15px;
	font-size: 16px;
	border: 1px solid #E2E2E2;
	border-radius: 4px;
}

.form-box .form-main .group textarea {
	min-height: 200px;
}

.form-box .form-main .group input:focus {
	outline: none;
	-webkit-box-shadow: 0 0 6px rgba(237, 112, 148, 0.9);
	box-shadow: 0 0 6px rgba(237, 112, 148, 0.9);
}

.form-box .form-main .group  .picker .pc-element:hover, .picker .pc-trigger:hover {
	background: #F9F9F9;
	color: #222;
}

.form-box .form-main .group .picker {
	width: 100%;
}

.form-box .form-main .group .picker .pc-select {
	width: 100%;
	max-width: none;
}

.form-box .form-main .group .picker .pc-select .pc-list {
	border: 1px solid #E2E2E2;
	z-index: 101;
}

.form-box .form-main .group .picker .pc-select .pc-list li {
	padding: 15px;
	background: #FFF;
}

.form-box .form-main .group .picker .pc-select .pc-list li:hover {
	background: #F9F9F9;
	color: #E78F9E;
}

.form-box .save-btn {
	min-width: 80px;
	padding: 15px;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 0.5px;
	color: #FFF;
	background: #96D9DD;
	border-radius: 30px;
}

.btn-bg-grey {
	margin-right: 20px;
	padding: 10px 40px;
	font-size: 22px;
	line-height: 31px;
	color: #FFF;
	border-radius: 36px;
	background: #3C3C3C;
}
