@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.questions {
    margin-left: 25px;
    margin-right: 25px;
    column-count: 2;
    column-span: all;
    column-gap: 25px;
}

.questionFields {
    padding-top: 20px;
}

.score {
    font-family: 'Alata', sans-serif;
    font-size: 25px;
    color: red;
}

.scores {
    padding-top: 25px;
}
