.questions {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 450px;
    font-size: 25px;
}

.questionTitles {
    margin-top: 20px;
}

.questionFields {
    margin-top: 20px;
}

.submitButton {
    margin-top: 100px;
}

