.questionTitles {
    margin-left: 25px;
    margin-top: 25px;
}
.questionFields {
    margin-left: 25px;
    margin-right: 450px;
    margin-top: 150px;
}

.submitButtons {
    margin-left: 25px;
    margin-top: 175px;
}
